<h1 class="text-white">Profile</h1>
<div class="row main-section">
  <div class="col-sm-12 aqua-box p-1" *ngIf="currentUser">
    <h3 class="text-truncate mb-4 ml-3">Hello <span class="text-primary font-weight-bold">{{currentUser.email}}</span></h3>
    <div class="form-group col-md-7">
      <label for="userEmail" class="font-weight-bold">Change email</label>
      <input type="text" id="userEmail" name="userEmail"
             class="form-control col-sm-12 col-md-7 col-lg-4"
             [formControl]="userEmail" [email]="true">
      <button class="btn btn-sm btn-dark" (click)="userEmail.disabled ? userEmail.enable() :
      userEmail.disable()"><span class="fa fa-edit"></span></button>
      <div class="custom-control custom-checkbox d-block col-2" *ngIf="currentUser.admin">
        <input type="checkbox" class="custom-control-input" name="isAdmin"
               id="isAdmin" [(ngModel)]="currentUser.admin" disabled>
        <label class="custom-control-label" for="isAdmin">Admin</label>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col-6 mt-4">
      <div class="validation-errors d-inline" *ngIf="userEmail.errors">
        <p class="text-danger font-weight-bold">Invalid email</p>
      </div>
      <button class="btn btn-success d-inline" (click)="updateUser()"
              [disabled]="userEmail.errors">Save</button>
    </div>

  </div>
</div>
