<h3>Edit learning goal</h3>
<form>
  <label for="goal">Goal</label>
  <input [(ngModel)]="this.editingLearningGoal.goal" class="form-control" id="goal" name="goal"
         placeholder="Enter your learning goal">
  <div id="task-section" class="mt-3">
    <label for="tasks">Tasks</label>
    <button class="btn btn-dark fa fa-plus float-right" (click)="addTaskInput()"></button>
    <div *ngFor="let taskInput of this.editingLearningGoal.tasks; index as i; trackBy:trackByIdx">
      <div class="form-row p-3" id="tasks">
        <input [(ngModel)]="this.editingLearningGoal.tasks[i].name"
               class="form-control mt-1 w-75"
               [id]="'task' + i" name="task{{i}}" placeholder="Task">
        <input type="checkbox" name="completed" class="form-check-label mx-2 my-3"
               [(ngModel)]="this.editingLearningGoal.tasks[i].completed"
               [checked]="this.editingLearningGoal.tasks[i].completed">
      </div>
    </div>
    <label for="description">Description</label>
    <textarea [(ngModel)]="this.editingLearningGoal.description" id="description"class="form-control" style="min-height: 100px; resize: none"
              name="description" placeholder="Enter a description for your learning goal"></textarea>
  </div>
  <!--<div class="btn-group">
    <button class="btn btn-dark" (click)="createLearningGoal()">Learn</button>
  </div>-->
</form>

