<h3>Create learning goal</h3>
<form [formGroup]="learningGoalForm" (ngSubmit)="onSubmit(learningGoalForm.value)">
    <label for="goal">Goal</label>
    <input class="form-control" id="goal" name="goal" formControlName="goal"
           placeholder="Enter your learning goal">
    <div id="task-section" class="mt-3" formArrayName="tasks">
      <h4>Tasks</h4>
      <button type="button" class="btn btn-dark fa fa-plus float-right" (click)="addTask()"></button>
      <div *ngFor="let task of tasks.controls; index as i">
        <div class="form-group" id="tasks">
          <input type="text" [formControlName]="i" class="form-control mt-1"
                 placeholder="Task">
        </div>
      </div>
    </div>
  <div class="description mb-1">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" style="min-height: 100px; resize: none" formControlName="description"
              name="description" placeholder="Enter a description"></textarea>
  </div>
  <div class="subject-options">
    <label for="subjects">Subject</label>
    <select id="subjects" class="form-control" formControlName="subjectID"
     [ngModel]="selectedSubjectID">
      <option *ngFor="let subject of subjects; index as i" [value]="subject.id">
        {{subject.name}}
      </option>
    </select>
  </div>
    <div class="btn-group mb-1 mt-3">
      <button class="btn btn-dark mr-2" type="submit">Learn</button>
      <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
    </div>
</form>
