<div class="col-md-4 col-sm-12 mt-2 subject" *ngFor="let subject of subjects; index as i">
  <div class="card subject-box">
    <!-- <a class="subject-del-btn btn btn-sm btn-danger d-inline ms-auto"
       (click)="onDelete(subject, i)">
      <span class="fa fa-times"></span></a> -->
      <div class="card-header">
        <h6 class="card-title text-center">{{subject.name}}
          <span class="badge bg-primary" title="Amount of learning goals">
            {{subject.learningGoals.length}}</span>
        </h6>
      </div>
    <div class="card-body p-0" style="transform: rotate(0)">
      <p class="card-text p-2 text-truncate">
        {{subject.description}}</p>
    </div>
    <a [routerLink]="['/subjects', subject.id, 'learning-goals']" class="stretched-link"></a>
  </div>
</div>
<span class="col-3 mt-2 align-self-center"><a [routerLink]="['/learning-goals']">All learning goals
<span class="fa fa-arrow-right"></span></a>
</span>
<div class="w-100 mt-3"></div>
<button class="btn btn-primary" (click)="onNewSubject()">
  <span class="fa fa-plus"></span> New subject</button>


