.subject-box {
  border-radius: 10px;
  background-color: aquamarine;
  border: solid 2px black;
}

.card {
  min-height: 100%;
}

.subject-box:hover {
  box-shadow: 3px 3px 10px black;
}

.subject-del-btn {
  border-top-right-radius: 5px;
  color: black;
}
