.learning_goal-list {
  max-height: 370px;
  overflow: auto;
}

.learning_goal-detail, .learning_goal-create {
  background-color: rgb(70 176 224);
  border: 1px solid black;
  border-radius: 5px;
}


