.learning_goal-list {
  max-height: 370px;
  overflow: auto;
}

.learning_goal-detail, .learning_goal-create {
  background-color: rgba(0, 180, 255, 0.5);
  border: 1px solid black;
  border-radius: 5px;
}


