<div class="row justify-content-center main-section">
  <div class="row row-container p-2">
    <div class="col-md-6 col-lg-5">
      <div class="spinner-border" role="status" *ngIf="this.loading">
        <span class="sr-only">Loading..</span>
      </div>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><span class="fa fa-search"></span></div>
        </div>
        <input type="text" class="form-control col-6" id="searchBar" placeholder="Search"
        [(ngModel)]="searchQuery">
      </div>
      <div class="learning_goal-list list-group" *ngIf="learningGoals">
        <button class="list-group-item list-group-item-action"
                [ngClass]="learningGoal.id === selectedLearningGoal?.id ? 'active' : ''"
                *ngFor="let learningGoal of learningGoals | learningGoal : searchQuery"
                (click)="renderLearningGoal(learningGoal)">{{learningGoal.goal}}</button>
      </div>
      <div class="btn-group mt-4 mb-2 float-left pt-1 create-button">
        <button class="btn btn-primary" (click)="renderCreate()">Create learning goal</button>
      </div>
    </div>
    <div class="" *ngIf="!selectedLearningGoal && !renderingCreate">
      <p>Select a learning-goal or create one</p>
    </div>
    <div class="learning_goal-detail col-md-6 col-lg-5" *ngIf="selectedLearningGoal">
      <app-learning-goal-detail [selectedLGoal]="selectedLearningGoal"
        (editing)="onEdit($event)" (deleted)="onDelete($event)"
        (saved)="onSave($event)" (cancel)="onCancel($event)">
      </app-learning-goal-detail>
    </div>
    <div class="learning_goal-create col-md-6 col-lg-6" *ngIf="renderingCreate">
      <app-learning-goal-create (createdLearningGoal)="onCreate($event)"
                                (cancel)="onCancelCreate($event)"></app-learning-goal-create>
    </div>
  </div>
</div>


