  <div class="row main-section">
    <div class="col-md-6">
      <div class="learning_goal-list list-group">
        <button class="list-group-item" *ngFor="let learningGoal of learningGoals"
                (click)="renderLearningGoal(learningGoal)">{{learningGoal.goal}}</button>
      </div>
      <div class="btn-group mt-4 float-left pt-1 create-button">
        <button class="btn btn-primary" (click)="renderCreate()">Create learning goal</button>
      </div>
    </div>

    <div class="learning-goal-detail col-md-6" *ngIf="selectedLearningGoal">
      <app-learning-goal-detail (editing)="onEdit($event)" (deleted)="onDelete()" (saved)="onSave($event)">
      </app-learning-goal-detail>
    </div>
    <div class="col-md-6" *ngIf="renderingCreate">
      <app-learning-goal-create (createdLearningGoal)="onCreate($event)"></app-learning-goal-create>
    </div>
  </div>


