<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 mx-auto">
      <div class="card bg-info">
        <h5 class="card-title text-center">Login</h5>
        <!--        <span class="text-center text-danger font-weight-bold">Not available yet-->
        <!--        <i class="fa fa-exclamation-triangle"></i></span>-->
        <div class="card-body">
          <form [formGroup]="loginForm">
            <label for="email">Email</label>
            <input class="form-control" id="email" name="email" formControlName="email">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password"
                   name="password">
            <button class="btn btn-light float-right mt-3" (click)="onLogin()">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
