<nav class="navbar navbar-dark bg-primary">
  <a routerLink="/" class="navbar-brand">Progressive learning</a>
  <div class="d-flex">
    <a [routerLink]="['learning-goals']" class="nav-link btn btn-dark mr-3">
      Learning goals</a>
    <a *ngIf="!this.sessionService.isAuthenticated"
       [routerLink]="['login']" class="nav-link btn btn-dark mr-3">Login</a>
    <div class="btn-group">
    <a *ngIf="this.sessionService.isAuthenticated"
       [routerLink]="['/users/' + this.sessionService.currentUser.id]"
       class="nav-link btn btn-dark"><span class="fa fa-user"></span> User Profile</a>
    <a *ngIf="this.sessionService.isAuthenticated"
       [routerLink]="['login']" (click)="this.sessionService.logOut()"
       class="nav-link btn btn-danger ">Log out</a>
    </div>
    </div>
</nav>

