<div id="task-component" class="" *ngIf="task">
  <div class="row p-1 justify-content-center mt-3 main-section">
    <div class="row row-container">
      <div class="col-sm-12 col-md-10 col-lg-7 m-auto">
        <h3 class="d-inline-flex" *ngIf="!editTaskName">{{task.name}}</h3>
        <input id="task_header-edit" type="text"
               class="form-control d-inline mr-2 mt-1 w-75"
               [(ngModel)]="task.name" *ngIf="editTaskName">
        <a class="btn btn-sm btn-light ml-2" *ngIf="permissionsService.hasPermission(sessionService.getCurrentUser())"
           (click)="editTaskName = !editTaskName">
          <i class="fa fa-lg fa-pencil-alt" title="Edit task name"></i>
        </a>
      </div>
      <div class="w-100 mb-2"></div>
      <div class="col-sm-12 col-md-8 col-lg-7">
        <div class="task_summary p-2">
<!--          <label for="summary">Summary</label>-->
<!--          <textarea name="summary" id="summary"-->
<!--                    class="form-control "-->
<!--                    [(ngModel)]="task.summary"-->
<!--                    [placeholder]="DESCRIPTION_PLACEHOLDER"></textarea>-->
          <app-task-summary [summary]="this.task.summary" (updatedSummary)="updateSummary($event)"></app-task-summary>
          <div>
            <div class="custom-control custom-checkbox" *ngIf="permissionsService.hasPermission(sessionService.getCurrentUser())">
              <input type="checkbox" class="custom-control-input mt-2 mr-3 mx-2 my-2"
                     name="{{task.name}}" id="{{task.name}}" [checked]="task.completed"
                     [(ngModel)]="task.completed">
              <label class="custom-control-label" for="{{task.name}}">Mark as completed</label>
            </div>
            <button *ngIf="permissionsService.hasPermission(sessionService.getCurrentUser(),
            task.learningGoal) &&
            !saving" class="btn btn-success mt-2" type="button"
                    (click)="onSave()">Save</button>
            <button *ngIf="saving" class="btn btn-success mt-2" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              <span class="sr-only">Saving..</span>
              Saving..
            </button>
          </div>
        </div>
      </div>
      <div class="resources-component col-sm-12 col-md-4 col-lg-4"
           *ngIf="permissionsService.hasPermission(sessionService.getCurrentUser(), task.learningGoal)">
        <app-resources (deletedResource)="deleteResource($event)"></app-resources>
      </div>
    </div>
  </div>
</div>

