<h3>Edit learning goal</h3>
<form>
  <label for="goal">Goal</label>
  <input [(ngModel)]="this.editingLearningGoal.goal" class="form-control" id="goal" name="goal"
         placeholder="Enter your learning goal">
  <div id="unit-section" class="mt-3">
    <h4 class="d-inline">Units</h4>
    <button class="btn btn-dark fa fa-plus float-end" (click)="addUnit()"></button>
    <div class="mt-1" *ngFor="let unit of this.editingLearningGoal.units; index as i;">
      <div class="row unit-item p-1 mb-2" id="units">
        <input type="checkbox" name="unitCompletion" id="unitCompletion" [checked]="unit.completed"
               class="form-check-label mx-2 my-3 col-auto" (change)="unit.completed = !unit.completed">
        <input [(ngModel)]="unit.name"
               class="form-control mt-1 w-75 col-md-9"
               [id]="'unit' + i" name="unit{{i}}" placeholder="Unit">
        <a class="btn btn-danger btn-sm m-2 col-auto" title="Delete unit" (click)="deleteUnit(unit, i)">
          <span class="fa fa-times"></span>
        </a>

      </div>
    </div>
    <div id="unit-description" class="mt-1">
      <label for="description">Description</label>
      <textarea [(ngModel)]="this.editingLearningGoal.description" id="description"class="form-control" style="min-height: 100px; resize: none"
                name="description" placeholder="Enter a description for your learning goal"></textarea>
    </div>
  </div>
</form>
