<div class="learning-goal-detail p-1" *ngIf="learningGoal">
  <div id="selected-learning-goal" *ngIf="!renderEdit">
    <div class="">
      <h2 class="text-center overflow-hidden word-break border-dark border-bottom pb-1">
        {{learningGoal.goal}}</h2>
      <div class="mb-3">
        <label>Description</label>
        <div class="description bg-dark p-1">
          <p>{{learningGoal.description}}</p>
        </div>
      </div>
      <div class="unit-list">
        <h5>Units</h5>
        <app-unit-list [learningGoal]="learningGoal"
                       (updatedLearningGoal)="onUpdatedLearningGoal($event)"></app-unit-list>
      </div>
      <div class="progress-section">
        <h5>Progress</h5>
        <div class="progress mt-3">
          <div class="progress-bar" role="progressbar"
               [style.width.%]="learningGoal.progress">{{learningGoal.progress}}%
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="editing-learning-goal" *ngIf="renderEdit">
    <app-learning-goal-edit [editingLearningGoal]="learningGoal"
                            (deletedTasksReg)="registerDeletedTask($event)">
    </app-learning-goal-edit>
  </div>
  <div class="mt-2 border-dark border-top pt-3"
       *ngIf="permissionService.hasPermission(this.sessionService.getCurrentUser())">
    <button class="btn btn-info mr-1" [disabled]="renderEdit" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger mr-1" (click)="onCancel()">
      Cancel</button>
    <button class="btn btn-success" [hidden]="!renderEdit" (click)="onSave()">Save</button>
    <button class="btn btn-danger float-right" (click)="onDelete()">
      <i class="fa fa-trash"></i> Delete</button>
  </div>
</div>
