<div id="learning-goal-detail" class="bg-light" *ngIf="learningGoal">
  <div id="selected-learning-goal" *ngIf="!renderEdit">
    <h1 class="text-center">{{learningGoal.goal}}</h1>
    <div class="form-row p-3" *ngFor="let task of learningGoal.tasks">
      <input class="mx-2 my-2" type="checkbox" [checked]="task.completed"
             [(ngModel)]="task.completed" (change)="reloadTaskProgress()">
      <span class="">{{task.name}}</span>
    </div>
    <div class="progress">
      <div class="progress-bar" role="progressbar"
           [style.width.%]="learningGoal.progress">{{learningGoal.progress}}%</div>
    </div>
    <textarea class="form-control mt-2">{{learningGoal.description}}</textarea>
  </div>
  <div id="editing-learning-goal" *ngIf="renderEdit">
    <app-learning-goal-edit [editingLearningGoal]="learningGoal"></app-learning-goal-edit>
  </div>
  <div class="btn-group mt-3" >
    <button class="btn btn-info" [disabled]="renderEdit" (click)="onEdit()">Edit</button>
    <button class="btn btn-danger" [disabled]="renderEdit" (click)="onDelete()">Delete</button>
    <button class="btn btn-dark" [hidden]="!renderEdit" (click)="onSave()">Save</button>
  </div>
</div>
