<div class="resources-list mb-3">
  <ul class="list-group">
    <li class="list-group-item text-truncate" *ngFor="let resource of resources; let i = index">
      <span class="mr-2" [title]="resource.type"
            [ngClass]="RESOURCE_ICONS[getResourceKeyFromValue(resource.type)]"></span>
      <a [href]="resource.url" target="_blank">{{resource.url}}
        <span class="float-right fa fa-arrow-circle-right"></span></a>
      <a class="btn btn-sm btn-danger float-right mr-2" (click)="onDelete(resource, i)">
        <i class="fa fa-minus"></i>
      </a>
    </li>
  </ul>
</div>
<button class="btn btn-sm btn-primary" [disabled]="!permissionService.hasPermission(sessionService.getCurrentUser())"
        (click)="renderNewResource()"><span class="fa fa-xs fa-plus"></span>
  Add resource link
</button>
<div class="border border-danger bg-danger mt-5 p-2" *ngIf="!permissionService.hasPermission(sessionService.getCurrentUser())">
  <p class="text-white">As a guest user you do not have access to some of the feature, create an account or login.</p>
</div>
<div class="new_resource mt-4" *ngIf="newResource">
  <label for="new_resource-url">Resource URL</label>
  <input type="text" id="new_resource-url"
         [(ngModel)]="newResource.url" class="form-control"
         placeholder="Resource URL">
  <label for="new_resource-type">Type</label>
  <select id="new_resource-type"
          [(ngModel)]="newResource.type" class="form-control">
    <option *ngFor="let resourceType of resourceTypes">{{resourceType}}
    </option>
  </select>
  <div class="new_resource-buttons mt-1">
    <button class="btn btn-sm btn-success mr-2"
            (click)="onCreate()">Create
    </button>
    <button class="btn btn-sm btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</div>

