<div class="resource-links mb-3">
  <h4 class="border-bottom border-dark">URL sources</h4>
  <ul class="list-group">
    <li class="list-group-item word-break" *ngFor="let resource of resourceLinks; let i = index">
      <a class="btn btn-sm btn-danger me-2" (click)="onDelete(resource, i)"
         title="Delete resource">
        <i class="fa fa-times"></i>
      </a>
      <span class="me-2" [title]="resource.type"
            [ngClass]="RESOURCE_ICONS[getResourceKeyFromValue(resource.type)]"></span>
      <a [href]="resource.url" target="_blank">{{resource.url}}
        <span class="float-right fa fa-arrow-circle-right"></span></a>
    </li>
  </ul>
  <p *ngIf="resourceLinks.length === 0">No resource URLs have been added to this unit yet</p>
</div>
<h4 class="border-bottom border-dark">Images</h4>
<div class="resource-images" *ngIf="resourceImages.length > 0">
  <div class="resource-image p-2" *ngFor="let resource of resourceImages; let i = index">
    <a class="btn btn-sm btn-danger me-2 h-100" (click)="onDelete(resource, i, 'Image')" title="Delete resource">
      <i class="fa fa-times"></i>
    </a>
    <a type="button" href="#" data-toggle="modal" data-target="#imageModal" (click)="selectedResourceImg = resource">
      <img [src]="resource.url" [alt]="'resource-image-' + i" width="75%" height="75%">
    </a>
  </div>
</div>
<p *ngIf="resourceImages.length === 0">No resource images have been added to this unit yet</p>
<button class="btn btn-sm btn-primary mt-2"
        [disabled]="!permissionService.hasPermission(sessionService.getCurrentUser())"
        (click)="renderNewResource()"><span class="fa fa-xs fa-plus"></span>
  Add resource
</button>
<div class="border border-danger bg-danger mt-5 p-2"
     *ngIf="!permissionService.hasPermission(sessionService.getCurrentUser())">
  <p class="text-white">As a guest user you do not have access to some of the feature, create an account or login.</p>
</div>
<div class="new_resource mt-4" *ngIf="newResource">
  <label for="new_resource-url">Resource URL</label>
  <input type="text" id="new_resource-url"
         [(ngModel)]="newResource.url" class="form-control"
         placeholder="Resource URL">
  <label for="new_resource-type">Type</label>
  <select id="new_resource-type"
          [(ngModel)]="newResource.type" class="form-control">
    <option *ngFor="let resourceType of resourceTypes">{{resourceType}}
    </option>
  </select>
  <div class="new_resource-buttons mt-1">
    <button class="btn btn-sm btn-success me-2"
            (click)="onCreate()">Create
    </button>
    <button class="btn btn-sm btn-danger" (click)="onCancel()">Cancel</button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" *ngIf="selectedResourceImg">
        <img [src]="selectedResourceImg.url" [alt]="'resource-image-' + selectedResourceImg.id" width="100%"
             height="100%">
      </div>

    </div>
  </div>
</div>
