<!--<div class="form-row p-2 task mb-2" *ngFor="let task of learningGoal.tasks"-->
<!--     [style]="task.completed ? 'background-color: lightgreen' : null">-->

<div class="unit-list" *ngFor="let unit of learningGoal.units">
  <div class="form-row unit-item p-2 mb-2" [@unitCompletion]="unit.completed ? 'completed' : 'incomplete'">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input mx-2 my-2" name="{{unit.name}}"
             id="{{unit.id}}"
             [checked]="unit.completed" [(ngModel)]="unit.completed"
             (change)="reloadUnitProgress()">
      <label class="custom-control-label" for="{{unit.id}}"></label>
      <a [routerLink]="[unitsBaseURL, unit.id]"
         class="">{{unit.name}}</a>
    </div>
  </div>
</div>
<div class="" *ngIf="learningGoal.units.length === 0">
  <p>Learning goal has no units yet</p>
</div>

